{% load staticfiles %}

<html>
    <head>
        <title>Clothesline: A lifeline for your clothes!</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    </head>
    <body>
            {% block content %}
            {% endblock %}

        {% if user.is_authenticated %}
        <table>            
            <tr>
                <td> <a href="{% url 'clothes_list' %}" class="top-menu">Clothes for sale</a> </td>
                <td> <a href="{% url 'seller_list' %}" class="top-menu">Sellers' stats</a> </td>
                <td> <a href="{% url 'event_stats' %}" class="top-menu">Event stats</a> </td>
            </tr>
            
            
            <tr>
                <td> <a href="{% url 'admin:index' %}" class="top-menu">Admin page</a> </td>
                <td> <a href="{% url 'seller_new' %}" class="top-menu">Add seller</a> </td>
                <td> <a href="{% url 'clothes_new' %}" class="top-menu">Add clothes</a> </td>
            </tr>
            
            <tr>
                <td> <a href="{% url 'sale' %}" class="top-menu">Sale</a> </td>
                <td> <a href="{% url 'refund' %}" class="top-menu">Refund</a> </td>
                <td> <a class="top-menu">Price slash</a> </td>
            </tr>
            
            <tr>
                <td> <a href="{% url 'recycle' %}" class="top-menu">Flag for recycling</a> </td>
                <td> <a href="{% url 'return' %}" class="top-menu">Flag for return</a> </td>
                <td> </td>
            </tr>
            
            <tr>
                <td> <a href="{% url 'settlement' %}" class="top-menu">Settlement</a> </td>
                <td> <a href="{% url 'unsettled' %}" class="top-menu">Unsettled</a> </td>
                <td> </td>
            </tr>
            
        </table>
            <p class="top-menu">Hello {{ user.username }} ! <small>(<a href="{% url 'logout' %}">Log out</a>)</small></p>
        {% endif %}

    </body>
</html>
