{% extends 'blog/base.html' %}

{% block content %}
    {% for clothing in clothes %}
        <div class="clothing">
            <p>[{{ clothing.item_code }}] {{ clothing.description }}  {% if clothing.sold %} <div style="color:maroon;text-align:right">[Sold!]</div> {% else %} <div style="color:seagreen;text-align:right">${{ clothing.price }}</div>  {% endif %} </p>
            <hr>
        </div>
    {% endfor %}
    <!-- {{ clothing.owner }} -->
{% endblock %}

<!-- 
    <table>
    <tr>
        <td>  Item number </td>
        <td> Description </td>
        <td> From </td>
        <td> Price </td>
        <td> Status </td>


        <tr>
            <td>{{ clothing.item_code }}</td>
            <td> {{ clothing.description }} </td>
            <td> {{ clothing.owner }} </td>
            <td> {{ clothing.price }} </td>
            <td> {% if clothing.sold %} SOLD {% endif %} </td>
        </tr>

    </table>


-->
