{% extends 'blog/base_backend.html' %}

{% block content %}
    <h1>Flag for recycling</h1>
    <form method="POST" class="recycle-form">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Save</button>
    </form>
    <p> Enter item codes, separated by commas. E.g. A2, b6,MA2108 </p>
    <p> Do not enter full stops, only the codes and commas. Not strict on capitalization and spaces. </p>
    <p> If a person/people wants all their clothes to be recycled, simply enter their seller code, e.g. A, RR </p>

{% endblock %}

